<h1>マジックリンク 動作確認用ポータル</h1>
<p>※このページはマジックリンクの動作確認用ページです。</p>
<p>実際の運用ではマジックリンクを予定の通知メールに埋め込み、</p>
<p>未ログイン状態から認証を行って予定の確認・変更・追加を可能にします。</p>

<br>
<% if session[:user_id].present? %>
  <h3>ログイン済み：<%= @user.name.present? ? @user.name : @user.email %></h3>
  <% if @user.magic_link_token.present? %>
  <p>スケジュール一覧へのマジックリンク</p>
    <a href="<%= magic_link_authenticate_url(token: @user.magic_link_token) %>">
      <%= magic_link_authenticate_url(token: @user.magic_link_token) %>
    </a>
  <p>※メールに挿入されるものと同様のURLです。</p>
  <p>未ログイン状態のまま、メールのURLから直接アクセスを可能にします。</p>
  <% else %>
    <p>マジックリンクが未発行です。</p>
    <p>以下のフォームにメールアドレスを入力してリンクを発行して下さい。</p>
    <%= form_with url: magic_link_generate_path, method: :post, local: true do |f| %>
      <%= f.hidden_field :email, value: @user.email %>
      <%= f.submit 'マジックリンクを発行する' %>
    <% end %>
  <% end %>
  <br>
  <%= button_to '仮ログイン解除', magic_link_logout_path, method: :delete, class: "btn btn-danger" %>
<% else %>
  <p>ログインされていません。</p>
  <p>マジックリンクは作成済みユーザーのメールアドレスに対して送られるため、動作確認のために仮のログインが必要です。</p>
  <p>以下の仮ログインボタンからログインして下さい。</p>
  <p>仮ログイン後の画面でメールに添付されるマジックリンクが表示されます。</p>
  <br>
  <%= form_with url: magic_link_login_path, method: :post, local: true do |f| %>
    <%= f.label :email, 'メールアドレス' %>
    <%= f.email_field :email, value: "user@example.com"  %>

    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password, value: "password" %>

    <%= f.submit '仮ログイン' %>
  <% end %>
<% end %>

<br>
<hr>

<p>メールを介してアクセスする場合はこちら。</p>
<h3>メールでログインリンクを受け取る。</h3>
<%= form_with url: magic_link_generate_path, method: :post, local: true do |f| %>
  <div>
    <%= f.label :email, 'メールアドレス' %>
    <%= f.email_field :email, required: true , value: 'admin@example.com' %>
  </div>
  <div>
    <%= f.submit 'ログインリンクを送信' %>
  </div>
<% end %>
