<h3>予定をお知らせします。</h3>

<ul>
  <% @schedules.each do |schedule| %>
    <li>予定名　　：<%= schedule.title %></li>
    <li>予定日　　：<%= schedule.next_notification.to_date.strftime('%Y/%-m/%-d') %></li>
    <li>次回予定日：<%= schedule.after_next_notification.to_date.strftime('%Y/%-m/%-d') %></li>
    <% unless schedule.price.nil? %>
      <li>予算（価格）：<%= schedule.price %>円</li>
    <% end %>
    <% if @user.user_setting.need_check_done %>
      <%= link_to '完了する', complete_schedule_url(schedule, token: schedule.done_token) %>
    <% end %>
  <% end %>
</ul>
