<h1>管理画面ログイン</h1>
<div class="admin_login_form">
  <%= form_with url: admin_sessions_path, method: :post, local: true do |f| %>
    <div>
      <%= f.label :email, 'メールアドレス' %>
      <%= f.text_field :email, value: 'admin@example.com' %>
    </div>
    
    <div>
      <%= f.label :password, 'パスワード' %>
      <%= f.password_field :password, value: 'admin' %>
    </div>
    <div>
      <%= f.submit 'ログイン' %>
    </div>
  <% end %>
</div>

<br>
<hr>

<%= link_to '一般ユーザーのログイン画面へ', root_path %>
