<h2>予定通知アプリ</h2>

<p>
  <strong><%= @host_name %></strong>さんから
  <strong><%= @shared_list_title %></strong> の共有が開始されました。<br>
  <a href="<%= @terms_url %>">利用規約</a> と
  <a href="<%= @privacy_url %>">プライバシーポリシー</a> に同意できる場合は、
  以下のリンクから共有リストにアクセスしてください。
</p>

<p>
  <a href="<%= @url %>"><%= @url %></a>
</p>
