<h1>アカウント作成</h1>

<h3>利用規約・プライバシーポリシー</h3>
<iframe src="<%= terms_embed_path %>" frameborder="1" width="100%" height="200px"></iframe>

<div class="agree-terms">
  利用規約に同意して作成用メールを受け取る。
  <%= check_box_tag "agree", "1", false, id: "agree-checkbox" %>
</div>

<p>メールアドレス</p>
<%= form_with model:@user, url: registrations_path, local: true do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, value: "tgenk0901@gmail.com" %>
  <%= f.submit 'メール送信', id: "submit-button" %>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const chackbox = document.getElementById("agree-checkbox");
    const submitButton = document.getElementById("submit-button");

    checkbox.addEventListener("change", function() {
      submitButton.disabled = !checkbox.checked;
    });
  });
</script>
