<div class="schedule_archive_form">
  <h2>予定削除（アーカイブ）</h2>
  <%= form_with model: @schedule, url: archive_complete_schedule_path(@schedule), method: :patch, local: true do |f| %>
    <div class="form-item">
      <%= f.label :title, "予定名" %>:
      <%= @schedule.title %>
    </div>
  
    <div class="form-item">
      <%= f.label :notification_period, '周期' %>:
      <%= @schedule.notification_period %> 日毎
    </div>
    
    <div class="form-item">
      <%= f.label :next_notification, '次回予定日' %> :
      <%= @schedule.next_notification.strftime("%Y/%-m/%-d") %>
    </div>
  
    <div class="form-item">
      <%= f.label :after_next_notification, '次々回予定日' %>:
      <%= @schedule.after_next_notification.strftime("%Y/%-m/%-d") %>
    </div>
    <br>
    <hr>
    <div class="form-item">
      予定をアーカイブ化します。以降はこの予定は通知されません。
      <%= f.submit 'アーカイブ化する', class: 'btn btn-danger' %>
    </div>
  <% end %>
</div>

<hr>
<br>
<%= link_to "キャンセル", schedules_path %>

