<h1>予定通知アプリ</h1>
<div class="container">
  <div class="fs-5">
    <%= link_to "メールアドレス変更", edit_email_path %> | 
    <%= link_to '環境設定', user_setting_path %>
  </div>
</div>

<hr>
<div class="container">
  <div class="row">
    <div class="d-flex">
      <%= link_to '共有リスト', shared_lists_path, class: 'btn btn-primary mt-4' %>
    </div>
  </div>
</div>

<hr>
<div class="container">
  <div class="border">
    <%= render 'shared/schedule_form' %>
  </div>
</div>

<br>

<%= render partial: 'shared/schedule_table', locals: {schedules: @schedules, type: :normal} %>

<br>

<% if @schedules_archived.present? %>
  <%= render partial: 'shared/schedule_table', locals: {schedules: @schedules_archived, type: :archived} %>
<% end %>

<br><br><br><br><br>
