<% if type == :normal %>
  <div class="container">
    <div class="mt-4 d-flex justify-content-between align-items-center">
      <h2>予定一覧</h2>
      <% if schedules.present? %>
        <%= link_to 'PDFダウンロード', schedules_path(format: :pdf), class: 'btn btn-success' %>
      <% end %>
    </div>
    <table class="table schedule-table">
      <thead>
        <tr>
          <th>予定名</th>
          <th>周期</th>
          <th>次回予定日</th>
          <th>次々回予定日</th>
          <th>予算（価格）</th>
          <th>状態</th>
          <th>操作</th>
          <th>テスト</th>
        </tr>
      </thead>
      <tbody>
        <% if schedules.present? %>
          <% schedules.each do |schedule| %>
            <tr>
              <td><%= schedule.title %></td>
              <td><%= schedule.notification_period %></td>
              <td><%= schedule.next_notification.strftime("%Y/%-m/%-d") %></td>
              <td><%= schedule.after_next_notification.strftime("%Y/%-m/%-d") %></td>
              <td><%= schedule.price.nil? ? "無し" : schedule.price %></td>
              <td><%= schedule.status_enabled? ? "有効" : "無効" %></td>
              <td>
                <%= link_to '編集', edit_schedule_path(schedule), class: "btn btn-primary" %>
                <%= link_to '削除', archive_schedule_path(schedule), class: "btn btn-danger" %>
              </td>
              <td>
              <%= link_to "通知テスト", notification_schedule_path(schedule), class: "btn btn-info" %>
            </td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% elsif type == :archived %>
  <div class="container">
    <h2>アーカイブ済み予定</h2>
    <table class="table schedule-archived-table">
      <thead>
        <tr>
          <th>予定名</th>
          <th>周期</th>
          <th>次回予定日</th>
          <th>次々回予定日</th>
          <th>予算（価格）</th>
          <th>状態</th>
        </tr>
      </thead>
      <tbody>
        <% schedules.each do |schedule| %>
          <tr>
            <td><%= schedule.title %></td>
            <td><%= schedule.notification_period %></td>
            <td><%= schedule.next_notification.strftime("%Y/%-m/%-d") %></td>
            <td><%= schedule.after_next_notification.strftime("%Y/%-m/%-d") %></td>
            <td><%= schedule.price.nil? ? "無し" : schedule.price %></td>
            <td><%= schedule.status_enabled? ? "有効" : "無効" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% elsif type == :shared %>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>予定名</th>
          <th>周期</th>
          <th>次回予定日</th>
          <th>次々回予定日</th>
          <th>予算（価格）</th>
        </tr>
      </thead>
      <tbody>
        <% schedules.each do |schedule| %>
          <tr>
            <td><%= schedule.title %></td>
            <td><%= schedule.notification_period %></td>
            <td><%= schedule.next_notification.strftime("%Y/%-m/%-d") %></td>
            <td><%= schedule.after_next_notification.strftime("%Y/%-m/%-d") %></td>
            <td><%= schedule.price.nil? ? "無し" : schedule.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% elsif type == :shared_user %>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>予定名</th>
          <th>周期</th>
          <th>次回予定日</th>
          <th>次々回予定日</th>
          <th>予算（価格）</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% schedules.each do |schedule| %>
          <tr>
            <td><%= schedule.title %></td>
            <td><%= schedule.notification_period %></td>
            <td><%= schedule.next_notification.strftime("%Y/%-m/%-d") %></td>
            <td><%= schedule.after_next_notification.strftime("%Y/%-m/%-d") %></td>
            <td><%= schedule.price.nil? ? "無し" : schedule.price %></td>
            <td>
              <%= button_to '完了',
                  complete_schedule_shared_user_path(shared_user.id, schedule_id: schedule.id),
                  method: :patch,
                  data: { confirm: "完了にしますか？ 次の予定日が自動で設定されます。", turbo: false },
                  class: "btn btn-primary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>テンプレートに該当なし</p>
<% end %>
