<div class="container mt-5">
  <h1 class="text-center mb-4">予定通知アプリ</h1>
  <div class="row justify-content-center">

    <%= render 'shared/loading' %>

    <div  class="form-control col-m-6">
      <%= form_with url: login_path, local: true do |f| %>
        <div class="m-3">
          <%= f.label :email, 'メールアドレス' %>
          <%= f.text_field :email, size: "30" %>
        </div>
        
        <div class="m-3">
          <%= f.label :password, 'パスワード' %>
          <%= f.password_field :password %>
        </div>
        <div class="m-3">
          <%= f.submit 'ログイン', class: 'btn btn-success show-loading' %>
        </div>
        <% end %>
      </div>

      <%= link_to 'パスワード再設定', new_password_reset_path %>
      <br>
      <%= link_to 'LINEでログイン', line_login_path, class: 'btn btn-success' %>
      <%= link_to "Googleでログイン", google_login_path, class: "btn btn-outline-dark" %>
    </div>
    
  <div class="m-3">
    <button class="show-loading">test loading</button>
  </div>
  <br><br>

  <p>登録がまだの方はこちら</p>
  <%= link_to 'アカウント作成', new_registration_path, class: 'btn btn-primary' %>
</div>
