<div class="container">
  <h2>設定項目</h2>
  <div class="border-bottom mt-3 mb-3"></div>

  <div class="container mb-4">
    <div class="d-flex align-items-center">
      <div class="d-flex flex-column" >
        <h3>メールアドレスを変更する。</h3>
        <p class="ms-3">- 登録メールアドレスに変更リンクが送信されます。</p>
      </div>
      <div class="ms-4">
        <%= link_to "変更", edit_email_path, class: 'btn btn-success ms-3' %> 
      </div>
    </div>
  </div>


  <div class="container mt-4 mb-4">
    <h3 class="mt-4">予定通知</h3>
    <%= form_with model: @settings, url: check_done_user_setting_path, scope: :user_setting, method: :patch, local: true do |f| %>
      <div class="d-flex ms-3">
        <div class="d-flex align-items-center " >
          <div class="mt-2">
            <%= f.label :need_check_done, '要完了チェック '  %>
            <%= f.check_box :need_check_done  %>
          </div>
          <div class="d-flex ms-4 mt-2">
            <%= f.submit 'チェック設定を更新', class: 'btn btn-success' %>
          </div>
        </div>
      </div>
      <p class="d-flex ms-4 mb-0" >※通知メールに完了リンクを追加します。</p>
      <p class="d-flex ms-4 mb-0" >　リンクにアクセスして完了しない限り、通知を繰り返します。</p>
    <% end %>

    <h3 class="mt-4">通知時刻</h3>
    <%= form_with model: @settings, url: notification_time_user_setting_path, scope: :user_setting, method: :patch, local: true do |f| %>
      <div class="d-flex align-items-end ms-3">
        <div class="d-flex flex-column" >
          <div class="mt-2">
            <%= f.label :notification_hour, '通知予定 時：' %>
            <%= f.number_field :notification_hour, min: 0, max: 23 %>

            <%= f.label :notification_minute, '：' %>
            <%= f.number_field :notification_minute, min: 0, max: 59 %>
          </div>
        
          <div class="mt-2">
            <%= f.label :pre_notification, '事前予定通知：' %>
            <%= f.datetime_field :pre_notification %>
          </div>
        
        </div>
        <div class="d-flex ms-4 mt-2">
          <%= f.submit '通知時刻を更新', class: 'btn btn-success' %>
        </div>
      </div>
    <% end %>

    <h3 class="mt-4">LINE通知の受信設定</h3>
    <p class="ms-3">このアプリからLINEで通知を受け取るには、以下から公式アカウントを友だち追加してください。</p>

    <div class="ms-3 mt-3">
      <%= link_to 'LINEで友だち追加する', ENV['LINE_FRIEND_URL'], target: '_blank', rel: 'noopener', class: 'btn btn-success mb-3' %>

      <div>
        <p class="mb-1">またはQRコードを読み取って追加：</p>
        <%= image_tag 'https://qr-official.line.me/sid/L/850lkamt.png', width: 300, height: 300, alt: 'LINE QRコード' %>
      </div>
    </div>
  </div>
</div>
