<h1>共有リスト編集画面</h1>
<%= link_to '共有リスト一覧ページへ戻る', shared_lists_path %>

<hr>
<%= form_with model: @shared_user, url: shared_users_path, local: true do |f| %>
  <%= f.hidden_field :shared_list_id, value: @shared_list.id %>

  <div>
    <%= f.label :email, '共有ユーザーメールアドレス' %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :named_by_host_user, '共有ユーザー名（リスト表示用です。相手には表示されません）' %>
    <%= f.text_field :named_by_host_user %>
  </div>

  <%= f.submit '共有メールを送る' %>
<% end %>

<hr>

<%= form_with url:shared_list_path(@shared_list), method: :patch, local: true do %>
  <h2>＜リストへ追加＞</h2>

  <h3>予定一覧</h3>
  <table class="schedule-table">
    <thead>
      <tr>
        <th>予定名</th>
        <th>周期</th>
        <th>次回予定日</th>
        <th>次々回予定日</th>
        <th>リストに追加</th>
      </tr>
    </thead>
    <tbody>
      <% @user_schedules.each do |schedule| %>
        <tr>
          <td><%= schedule.title %></td>
          <td><%= schedule.notification_period %></td>
          <td><%= schedule.next_notification.strftime("%Y/%-m/%-d") %></td>
          <td><%= schedule.after_next_notification.strftime("%Y/%-m/%-d") %></td>
          <td><%= check_box_tag 'add_schedule_ids[]', schedule.id, params[:add_schedule_ids]&.include?(schedule.id.to_s) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <hr>

  <h3><%= @shared_list.list_title %>：追加済み</h3>
  <table class="schedule-table">
    <thead>
      <tr>
        <th>予定名</th>
        <th>周期</th>
        <th>次回予定日</th>
        <th>次々回予定日</th>
        <th>リストから削除</th>
      </tr>
    </thead>
    <tbody>
      <% @shared_list.schedules.each do |schedule| %>
        <tr>
          <td><%= schedule.title %></td>
          <td><%= schedule.notification_period %></td>
          <td><%= schedule.next_notification.strftime("%Y/%-m/%-d") %></td>
          <td><%= schedule.after_next_notification.strftime("%Y/%-m/%-d") %></td>
          <td><%= check_box_tag 'remove_schedule_ids[]', schedule.id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

  <%= submit_tag '更新' %>
<% end %>

<br><br><br><br><br><br>
