<h1>共有リスト一覧</h1>

<%= link_to 'New List', new_shared_list_path %>

<% if @shared_lists.present? %>
  <% @shared_lists.each do |shared_list| %>
    <h3><%= shared_list.list_title %></h3>

    <table class="schedule-table">
      <thead>
        <tr>
          <th>予定名</th>
          <th>周期</th>
          <th>次回予定日</th>
          <th>次々回予定日</th>
        </tr>
      </thead>
      <tbody>
        <% shared_list.schedules.each do |schedule| %>
          <tr>
            <td><%= schedule.title %></td>
            <td><%= schedule.notification_period %></td>
            <td><%= schedule.next_notification %></td>
            <td><%= schedule.after_next_notification %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <hr>
  <% end %>
<% else %>
  <h3>共有リストがありません。</h3>
<% end %>

<br><br><br><br><br><br>
