<div class="container">
  <h2 class="mt-4">
    履歴
  </h2>
  <div class="border-bottom w-100 mt-1 mb-1"></div>
  <% if  @logs.present? %>
    <table class="table mt-3">
      <thead>
        <tr>
          <th>id</th>
          <th>title</th>
          <th>通知日</th>
          <th>price</th>
        </tr>
      </thead>
      <tbody>
        <% @logs.each do |log| %>
          <tr>
            <td><%= log.id %></td>
            <td><%= log.schedule.title %></td>
            <td><%= log.send_time.strftime("%Y/%-m/%-d") %></td>
            <td><%= log.price? ? log.price : "なし" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="container mt-3">
      <h3>履歴はありません。</h3>
    </div>
  <% end %>
</div>

<br><br><br><br>

<% if @chart_data.present? %>
  <div class="container">
    <h2 class="border-bottom">グラフ</h2>
    <%= line_chart @chart_data, xtitle: "予定日", ytitle: "通知数" %>
  </div>
<% end %>
