<div class="navbar-admin d-flex justify-content-around align-items-start ms-3">
  <div class="d-flex gap-3">
    <%= link_to admin_dashboard_path, class: "nav-item-admin #{'active' if current_page?(admin_dashboard_path)}" do %>
      予定一覧
    <% end %>

    <%= link_to admin_logs_path, class: "nav-item-admin #{'active' if current_page?(admin_logs_path)}" do %>
      履歴
    <% end %>

    <%= link_to edit_admin_application_setting_path, class: "nav-item-admin #{'active' if current_page?(edit_admin_application_setting_path)}" do %>
      環境設定
    <% end %>
  </div>

  <div class="flex" style="width: 20%;"></div>
  <div class="d-flex flex-column align-items-end">
    <% if current_user.present? %>
      <div class="admin-user_name mb-2">
        <%= current_user.name.presence || current_user.email %>
      </div>
    <% end %>
    <%= button_to 'ログアウト', admin_logout_path, method: :delete, class: 'btn btn-light ms-3' %>
  </div>
</div>
