<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio2025</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag controller_name, media: "all", "data-turbo-track": "reload" if asset_exists?("#{controller_name}.css") %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/information' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
